# Ignore the virtual environment folder
.venv/

# Ignore the geodatabase folder
RBI50K_ADMINISTRASI_KABKOTA_20230907.gdb/

# Ignore shapefile folder
raw-data/shapefile/

# Ignore original/uncompressed raw geojson
raw-data/geojson/*

# Ignore simplified geojson
processed-data/merged-geojson/*.geojson

# Ignore bfgs files
bfg-1.15.0.jar
..bfg-report

